[2021-02-15 20:20] tadeboro opened #1 "Create incident module"
This module should enable users to create new incidents and update or delete existing incidents.

[2021-02-15 20:21] tadeboro opened #2 "Create an inventory plugin"
As for the configuration, we should start with something minimal that would serve as a base that we can iterate on.

[2021-02-15 20:23] tadeboro opened #3 "Decide how to expose pagination in info modules"
ServiceNow tables can contain a lot of records, so we need to decide how to limit the number of results in a response (we do not want to dump a few thousand records to the stdout).

[2021-02-15 20:24] tadeboro opened #4 "Document testing setup"
The documentation should contain information on how to test locally and how code is tested in the CI system.

[2021-02-15 20:25] tadeboro opened #5 "Create configuration_item_info module"
Reference docs: https://docs.servicenow.com/bundle/paris-servicenow-platform/page/product/configuration-management/concept/cnfig-mgmt-and-cmdb.html

For starters, we should only support modifying the contents of the `cmdb_di` table. Extensions to other tables will come after the initial implementation once we know what customers expect from this module.

/cc @mdolin

[2021-02-15 20:25] tadeboro opened #6 "Create a problem module"
Reference documentation: https://docs.servicenow.com/bundle/paris-it-service-management/page/product/problem-management/concept/c_ProblemManagementProcess.html

[2021-02-15 20:26] tadeboro opened #7 "Create a change_request module"
Reference documentation: https://docs.servicenow.com/bundle/paris-it-service-management/page/product/change-management/concept/change-types.html (video is quite good for getting a general idea about what goes on with changes).

[2021-02-15 20:27] tadeboro opened #8 "Create a configuration_item module"
Reference docs: https://docs.servicenow.com/bundle/paris-servicenow-platform/page/product/configuration-management/concept/cnfig-mgmt-and-cmdb.html

For starters, we should only support modifying the contents of the `cmdb_di` table. Extensions to other tables will come after the initial implementation once we know what customers expect from this module.

[2021-02-18 11:42] mancabizjak opened #12 "Developer setup for running integration tests"
We need support for integration testing against developer ServiceNow instances in the development process. This includes:
1. Setting up the directory hierarchy expected by `ansible-test integration`;
2. Extending the development helpers, which should run `ansible-test integration` for the specified target, or for all targets;
3. Preparing relevant integration testing docs.

When this is in place,

[2021-02-19 10:54] #12 closed

[2021-02-23 10:21] tadeboro opened #18 "Update incident_info return value"
Right now, `incident_info` module returns raw ServiceNow response. But because we map a few return values to more readable counterparts in the `incident`  module, we should do the same in the info module.

[2021-02-23 10:22] tadeboro commented on #18
/cc @mdolin

[2021-02-23 17:19] #1 closed

[2021-03-01 15:17] #18 closed

[2021-03-02 14:10] mancabizjak opened #27 "Properly resolving and closing existing problems"
## Description
As described in #23, when we try to change the state of an existing problem record to `resolved` or `closed`, either the `resolution_code` does not get set, or the request fails due to supposedly missing mandatory `resolution_code` field.

While these might actually be two separate issues, we report them together as they could be related due to both revolving around `resolution_code

[2021-03-03 07:08] tadeboro commented on #27
This looks like a known problem/limitation of the REST API and the problem table schema.

In the schema, the `resolution_code` column is marked as read-only in order to prevent users from changing the auto-assigned code in the UI. But unfortunately, this also makes the `resolution_column`  unmodifiable through the REST API.

If we mark the `resolution_code` column as writable, things start working

[2021-03-03 16:51] #2 closed

[2021-03-03 18:10] #6 closed

[2021-03-04 08:11] #7 closed

[2021-03-08 18:44] #8 closed

[2021-03-09 20:57] #5 closed

[2021-03-11 17:21] willtome opened #35 "Add Constructed options to Inventory Plugin"
##### SUMMARY
Include options for `compose`, `groups`, and `keyed_groups` to inventory plugin by including `Constructable`

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
`plugins\inventory\now.py`

##### ADDITIONAL INFORMATION
Documentation on using constructed options can be found here https://docs.ansible.com/ansible/2.9/plugins/inventory/constructed.html

Example of implementation and u

[2021-03-11 20:14] tadeboro commented on #3
We do not actually need pagination. What we need is being able to query results in more "interesting" ways.

[2021-03-11 20:14] #3 closed

[2021-03-11 20:15] tadeboro opened #37 "Add unit tests for incident modules"
/cc @mdolin

[2021-03-11 20:16] tadeboro opened #38 "Add unit tests for problem modules"
/cc @mdolin

[2021-03-11 20:16] tadeboro opened #39 "Add unit tests for change request modules"
/cc @mdolin

[2021-03-11 20:16] tadeboro opened #40 "Add unit tests for configuration item modules"
/cc @mdolin

[2021-03-11 20:24] tadeboro opened #41 "Make sure we can handle invalid values for enumerated parameters"
It is possible to get invalid values for enumerated parameters from the backend. Right now, our modules crash badly when this happens, which is not ideal.

One way of solving this issue would be to crash in a nice way while informing the user what exactly went wrong. This is simple to implement, but not too user-friendly.

An alternative is to detect bad values, skip mapping them, and emit a warni

[2021-03-18 20:49] #37 closed

[2021-03-18 20:53] #39 closed

[2021-03-18 21:04] #38 closed

[2021-03-18 21:13] #41 closed

[2021-03-19 14:46] #40 closed

[2021-04-08 13:25] Andersson007 opened #61 "Be sure the collection is tested against 2.11 and contains sanity/ignore-2.12.txt if applicable"
##### SUMMARY
https://github.com/ansible-collections/overview/issues/45#issuecomment-813821100

If everything is OK, feel free to close the issue

[2021-04-14 07:58] savitojs opened #62 "Lookup filter in service-now based upon CMDB"
##### SUMMARY

Lookup filter in service-now based upon CMDB data. Lookup filters based upon the CMDB can unblock us with our pipeline automation work to fetch various information based upon the exact name, CMDB ID, Application type, etc.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

Ansible lookup filters

##### ADDITIONAL INFORMATION

We have a pipeline where we are fetching data from t

[2021-04-14 07:58] savitojs commented on #62
cc @Akasurde

[2021-04-27 19:11] zjpeterson opened #63 "Support for OAuth refresh token grant type"
##### SUMMARY

The only support for OAuth login is via a password grant type. In some scenarios, a pre-shared refresh token has been provided outside of the automation scope in order to avoid username/password management. This type of login is not supported by the collection.

If this functionality has been deliberately excluded, please share the reason. Otherwise, this is a feature request.

####

[2021-05-07 02:19] metabsd commented on #35
Specially the `compose` option to be able to get the list of tags as `host_vars`

Thx in advance!

[2021-05-08 01:39] metabsd opened #66 "Add the posibility to filter the results"
##### SUMMARY
Add the posibility to filter the results

##### ISSUE TYPE
Filter results with sysparm_query encoded query string syntax. Complete list of operators available for filters and queries.

[2021-05-11 15:27] metabsd opened #67 "Custom list of environment"
Can we specify our own value? It would be very helpful.

Thank you!

https://github.com/ansible-collections/servicenow.itsm/blob/e1de42a99e04d3ae4699138f813cab7240aa4de6/plugins/modules/configuration_item.py#L97

[2021-05-19 09:14] Akasurde opened #68 "Handle http.client.IncompleteRead errors"
##### SUMMARY
Sometimes module fails with `http.client.IncompleteRead` error, handle them appropriately.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

Issue is intermittent, so no playbook.

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2021-05-26 11:56] tadeboro commented on #66
Our current plan is to implement queries using the following syntax (we are using the incident info module as an example here):

    - name: Find all incidents that contain SAP in its short description
      servicenow.itsm.incident_info:
        query:
          - short_description: LIKE SAP
      # Resulting query:
          short_descriptionLIKESAP

    - name: Find all incidents that contain S

[2021-05-31 08:54] absynth76 opened #69 "Why this repository"
I was searching on a way to interact with snow with help of ansible.
Searching around I found this repository, however I don't understand why it was created instead of adding support to https://github.com/ServiceNowITOM/servicenow-ansible?

This sound counter productive to have 2 different collections for the same target. The community is not that big and it sounds like it will only slow down the

[2021-05-31 11:02] Akasurde commented on #61
CI works with 2.11

[2021-05-31 11:02] #61 closed

[2021-05-31 11:12] Akasurde commented on #67
@metabsd Thanks for the feature request. Could you please let me know how can I create an environment in ServiceNow table?

[2021-05-31 13:30] Andersson007 commented on #61
@Akasurde thanks!

[2021-05-31 13:53] metabsd commented on #67
The addition of custom choices in ServiceNow mainly allows us to support our native language. We have also added choices for our needs. The sys_choice table allows this. If you have administrator rights. From a configuration item right click on used_for to define custom choices.

![image](https://user-images.githubusercontent.com/7953470/120202862-19dd1680-c1f5-11eb-9844-205eb6ee951e.png)

![image

[2021-06-02 11:23] willtome opened #71 "Configuration_item module is not idempotent"
##### SUMMARY
`configuration_item` module creates new record in CMDB rather than updating existing record.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`servicenow.itsm.configuration_item`

##### ANSIBLE VERSION
[code]

##### STEPS TO REPRODUCE
running the task below twice will result in 2 changes adding 2 identical records to the cmdb. Expected behavior is that first run will show "change

[2021-06-02 12:26] tadeboro commented on #71
Right now, the `sys_id` value is the only thing used to determine if we should be operating on one of the existing records or create a new one.

Judging by the example in this issue, you expect the `name` parameter to also trigger the record lookup before we go about creating one. And while we did think about this when we were designing CMDB modules, we decided against this because even the sample

[2021-06-09 12:55] swatinarvekar opened #74 "Add examples when setting up a SNOW inventory."
##### SUMMARY
Can we please add all the possible examples that we can use with the `servicenow.itsm` ? Like for example to create a host from every record of the ServiceNow cmdb_ci_server table we can do something like:
[code]

right now there are only following examples:
https://github.com/ansible-collections/servicenow.itsm/blob/main/docs/servicenow.itsm.servicenow.itsm.now_inventory.rst

I thin

[2021-06-09 13:37] swatinarvekar commented on #74
Would these examples also be helpful?
https://github.com/ServiceNowITOM/servicenow-ansible/blob/devel/docs/inventory.md#examples

[2021-06-09 14:03] Akasurde commented on #74
@swatinarvekar Thanks for reporting this issue. I Will check and update accordingly. Are you interested in any particular example which is available in `ServiceNowITOM/servicenow-ansible`?

[2021-06-09 14:47] tadeboro commented on #74
Do note that not all examples from the `servicenow.servicenow` collection will work with `servicenow.itsm`. We do intend to implement most of the existing functionality from the `servicenow.servicenow.now` plugin, but it is not there yet. In my estimate, this should land in the ITSM collection in the next week.

[2021-06-09 16:33] KevinLane36 opened #75 "Grant_Type of Refresh_Token still requires user and pass"
##### SUMMARY

I am trying to using OAuth with the refresh_token grant type, which should only require client_id, client_secret, and a refresh_token. When I run, it says that username and password are required modules for "instance": {"changed": false, "msg": "missing required arguments: password, username found in instance"}

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

grant_type: refres

[2021-06-09 17:03] Akasurde commented on #75
@KevinLane36 Thanks for reporting this issue. Are you using the `main` copy of servicenow.itsm collection?

[2021-06-09 17:04] Akasurde commented on #74
@tadeboro Thanks for the information.

[2021-06-09 17:28] KevinLane36 commented on #75
HHi @Akasurde! I believe so. I just followed the code installization and code examples from the repo today. A fresh install of both Ansible and this repo are being used.

[2021-06-10 05:47] Akasurde commented on #75
@KevinLane36 I am not able to reproduce this on setup with the latest (`main` branch) change -

[code]

[2021-06-10 09:02] Akasurde commented on #67
@metabsd Thanks for the information. I can update `used_for` value by using `other` parameter -

[code]

<img width="623" alt="Screenshot 2021-06-10 at 14 31 31" src="https://user-images.githubusercontent.com/633765/121496952-92fc1b00-c9f8-11eb-9ff5-3f3ee81fe118.png">

Let me know if it works for you? Thanks.

[2021-06-10 09:15] Akasurde commented on #66
resolved_by_pr #72

[2021-06-10 19:57] tadeboro commented on #75
@KevinLane36 The latest stable version of the ITSM collection does not have support for refresh tokens. If you would like to use this functionality, you will need to install the collection directly from the git repo. Something like this should work:

    ansible-galaxy collection install -p collections git+https://github.com/ansible-collections/servicenow.itsm.git

Do note that you will need Ansib

[2021-06-10 20:36] tadeboro commented on #75
The modules use [ServiceNow's Table API](https://developer.servicenow.com/dev.do#!/reference/api/quebec/rest/c_TableAPI). The code that communicates with ServiceNow web API is split into two parts: [a low-level HTTP client](https://github.com/ansible-collections/servicenow.itsm/blob/main/plugins/module_utils/client.py) and a more human-friendly [table-level client](https://github.com/ansible-colle

[2021-06-10 20:37] KevinLane36 commented on #75
@tadeboro Awesome! Thanks for the information. The issue is all resolved :)

[2021-06-10 20:37] #75 closed

[2021-06-21 08:56] Klaas- opened #76 "configuration_item_info fails to transform a ServiceNow record"
##### SUMMARY
I think the module is unable to get all configuration items from our service now instance

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
servicenow.itsm.configuration_item_info

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

RHEL 7.9 targets a service now paris-06-24-2020__patch7b-04-26-2021_05-04-2021_2116

##### STEPS TO REPRODUCE

[code]

[2021-06-21 12:53] Akasurde commented on #67
@metabsd Any news?

needs_info

[2021-06-21 13:03] Akasurde commented on #76
@Klaas- Thanks for reporting this issue. Could you please paste the output with `-vvvv` so that we can see the stack trace presented? Thanks.

[2021-06-21 13:09] Klaas- commented on #76
yeah sure, full stacktrace:

[code]

[2021-06-22 08:29] kborup-redhat opened #77 "Grouping hosts based on clasifications"
Creating and importing inventory with limits does not seem to work for me.

I have the following:

[code]

If i run this with ansible-inventory i get no servers

If i use
[code]

I get to many servers but it will create a group based on install_status which also includes Red Hat servers.
If i do it with `ansible-inventory -i service.now.yml --graph --vars Installed` then i get exactly the servers

[2021-06-22 08:40] Akasurde commented on #77
@kborup-redhat Thanks for reporting this issue.

You need to specify =

[code]

Notice I specified `1` instead of `Installed` or `installed`.

[2021-06-22 08:58] kborup-redhat commented on #77
This solved my issue, i have created a PR for updating the documentation with this example.

[2021-06-22 08:58] #77 closed

[2021-06-22 09:00] Akasurde commented on #77
Doc update PR - https://github.com/ansible-collections/servicenow.itsm/pull/78

[2021-06-22 22:32] #66 closed

[2021-06-23 07:15] tadeboro commented on #77
Is there a reason why we closed this issue? This seems like a genuine problem because of the complete disconnect between the filter values and the resulting group names. And I do not think documenting this bad behavior is the right way of fixing it.

[2021-06-23 07:42] Akasurde commented on #77
When you pass `installed` or `Installed` for `install_status` it does not group inventory as aspected. Since `sysparm_query` is translated as `install_status=installed^ORinstall_status=Installed` whereas `install_status` is checked as against values like `1`.

[2021-06-23 07:44] Akasurde commented on #77
Also, it does not document the correct value for `install_status`.

[2021-06-23 21:43] mrmibrown opened #81 "Elaborate on the group_by install_status parameter of the inventory plugin to include information about the expected data type"
##### SUMMARY
Elaborate on the group_by install_status parameter of the inventory plugin to include information about the expected data type.  This parameter is expecting a 'choice list' index(integer) but it is not explained clearly leading to situations where strings are passed resulting in invalid queries:

Invalid:
[code]

Valid:
[code]

##### ISSUE TYPE
- Documentation Report

##### COMPONENT

[2021-06-24 04:51] Akasurde commented on #81
@mrmibrown Thanks for reporting this issue. Could you please check if https://github.com/ansible-collections/servicenow.itsm/pull/78 works for you and let us know? Thanks.

needs_info

[2021-06-24 09:22] tadeboro commented on #81
I think updating examples is not enough in this case. It is an OK(ish) workaround for the time being, but we really need to do better. At a minimum, we should make sure that users can use display values in the filter specification. This will make sure the filter definition and the resulting group names at least somewhat match.

We have some work planned in this direction for collection already, so

[2021-06-24 10:01] Akasurde commented on #81
@tadeboro Thanks for the information.

[2021-06-24 18:19] tima commented on #69
@absynth76 we understand the concern.

This repo is a Red Hat sponsored effort to produce something to address the needs of our enterprise customers we were hearing. We evaluated the servicenow-ansible content and determined starting something new was necessary with where we needed to take things. Another issue was a change in the ServiceNow's API that would have necessitated a significant rewrite

[2021-06-25 10:53] Akasurde commented on #69
I will close this as per the above reason. Thanks, @absynth76 @tima.

[2021-06-25 10:53] #69 closed

[2021-06-28 06:19] tadeboro commented on #76
This error indicates that the data returned from the ServiceNow instance is corrupted: instead of the record map, we somehow ended up with a string in the result.

@Klaas- Can you please post the output of the following command:

[code]

If everything goes as planned, you should get back something similar to this (but in a bit less readable format):

[code]

[2021-06-28 08:36] Klaas- commented on #76
Hi,
curl shows it's  being aborted serverside :)

Result is like this (run through python -m json.tool)
[code]

The last asset is an empty one which creates the problems with utils.py, but I am guessing the more correct way of addressing this is catching the error and printing that message.

[2021-06-28 10:56] tadeboro commented on #76
Hmm, maybe we should reduce the batch size to get around this problem. Right now, we use the default value of 1000, which could be problematic. We added support for pagination in #82, but we still use the default value of 1000 records per request there. If we expose this as an instance parameter, playbook authors can take control of this value.

But in any case, we need to add more safeguards to t

[2021-06-28 11:26] Klaas- commented on #76
Maybe I am misunderstanding you, but the curl get you gave me is not paginated, it simply returns all elements it can fetch until the query is cancelled server side. But I do agree that if you pageinate you will most likely get around the issue but it'll simply transform the single large query into smaller pieces that are manageable within the maximum transaction time.

[2021-06-28 11:30] tadeboro commented on #76
It is implicitly paginated. If there is no `sysparm_limit` query parameter, ServiceNow treats it as 1000 (go to https://docs.servicenow.com/bundle/quebec-application-development/page/integrate/inbound-rest/concept/c_TableAPI.html#c_TableAPI and search for `sysparm_limit` on that page).

[2021-07-07 10:12] jangel97 opened #85 "State mapping fails for incidents"
##### SUMMARY

Hello there,
We would like to use **_servicenow.itsm_** collection to automate our SNow tickets management with Ansible.
While playing with your collection I have noticed that whenever I use a *__find_ module and query using the `state` property, state mapping fails, making the query fail.

For example:

[code]
Running this code returns the following:
[code]
If you see, state "-2" c

[2021-07-12 10:01] olirdx commented on #85
Hi there, I actually have the same problem with the `PAYLOAD_FIELDS_MAPPING` defined in the file `ansible_collections/servicenow/itsm/plugins/module_utils/configuration_item.py`

The `install_status `have been redefined in our deployment and it would be great if we could overwrite the module default mapping through a variable as proposed by @Akasurde

Best regards

[2021-07-29 06:13] tadeboro commented on #4
The documentation is present in the repo at https://github.com/ansible-collections/servicenow.itsm/blob/main/docs/unit_testing.md and https://github.com/ansible-collections/servicenow.itsm/blob/main/docs/integration_testing.md

[2021-07-29 06:13] #4 closed

[2021-07-29 06:56] tadeboro opened #88 "Add bulk update CMDB module"
While it is possible to update CMDB items using existing modules, updating a large number of records one by one can be inefficient because we need to log in for each modification we do. The bulk update module will sidestep the issue by reusing the login credentials for the whole batch of updates.

Another thing module will do is allow users to specify a mapping function that will transform the inp

[2021-07-29 07:02] tadeboro opened #89 "Allow attaching files to ServiceNow records"
The attachment management will be implemented as an additional parameter on existing modules. This is how the API will look like:

[code]

ServiceNow has very few limitations when it comes to the file naming and what can be attached to a single record, but in order to make things work in a more Ansible way, we will introduce the following constraints:

 1. Names of the record attachments need to b

[2021-07-29 09:06] tadeboro commented on #35
The ServiceNow inventory plugin will gain two new pieces of functionality: constructed options and server-side filtering. These two are needed to allow users of the `servicenow.servicenow` collection to migrate to the `servicenow.itsm` one.

The API for the constructed options is defined by Ansible Core, so there is no design process involved here. We just need to hook up things in the right order

[2021-07-29 09:06] tadeboro commented on #35
/cc @jillr @Akasurde

[2021-07-29 09:07] tadeboro commented on #88
/cc @jillr @Akasurde

[2021-07-29 09:07] tadeboro commented on #89
/cc @jillr @Akasurde

[2021-07-29 09:46] MysteriousWolf commented on #89
I suggest we also specify an option to upload files under a different name than on the file system. In the current work-in-progress implementation, I added it as an optional "name" key, similarly to how we can define file types under each attachment entry.

[2021-08-02 07:30] tadeboro opened #93 "The problem module does not work on ServiceNow Rome"
##### SUMMARY

It looks like ServiceNow changed something with the release of Rome since in that version, we can no longer move problems to the root cause analysis state.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

The problem module

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

Development version from git.

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

The OS should

[2021-08-03 14:58] #35 closed

[2021-08-10 06:28] #88 closed

[2021-08-24 21:44] lotaris-xx opened #100 "Choose which fields are returned, allowing lookups"
##### SUMMARY
Specify which snow fields one cares about.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
configuration_iterm_info

##### ADDITIONAL INFORMATION

Working with SNOW/AAP customer and currently using the servicenow.servicenow collection. Running into bugs/limitations and would like to move to servicenow.itsm collection.

One of the features we make heavy use of is a list of retu

[2021-08-25 15:57] l3acon opened #101 "New module: request_item, request_item_info"
##### SUMMARY

Perhaps I am mistaken but it is not currently possible (using this collection) to create/modify records in the `sc_req_item` table.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

`request_item` module similar to the others.

##### ADDITIONAL INFORMATION

Is this planned or in progress? I have this use case and would be willing to try it out if  desired.

[code]

[2021-08-27 12:00] HampusLundqvist opened #102 "Supply dynamic inventory query filters via environment variable"
##### SUMMARY
Be able to supply a query via environment variable  (e.g. old now.py SN_FILTER_RESULTS).

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

plugins/inventory/now.py

##### ADDITIONAL INFORMATION

When one wants to automate creation of many dynamic inventories in AWX/Tower using e.g: ansible.tower.tower_inventory_source module.
And each of these dynamic inventories requires a dif

[2021-09-06 06:58] #89 closed

[2021-09-07 03:59] Akasurde opened #103 "Releasing, Versioning and Deprecation"
### Introduction

This issue describes *how* and *when* servicenow.itsm is released and announces updates to the release/versioning schedule. The next section (Next release) is always updated to contain the next version to be released. Other changes to this first post are always announced by separate posts in this issue.

### Next release

1.2.0 TBA

### Releasing schedule for major and minor vers

[2021-09-07 12:49] gitet opened #104 "servicenow.itsm.change_request - Please document how to update work_notes for change request"
##### SUMMARY

The current synopsis for `servicenow.itsm.change_request` says that this module can be used to update a change request.
A common use case for this module would be to `update the work notes` for a change request.

I am not able to figure out how to do this and the documentation does not seem to give any clues about it.
`Please add an example` that shows how to update work notes for a

[2021-09-07 18:56] tadeboro commented on #104
The support for work notes and comments is not part of the collection yet (you probably noticed that info modules do not return them in the result).

That being said, you can still add work notes using existing modules, but this should be considered an ugly hack (and I will deny that you got that information from me if anyone asks ;)). This is the task that you can use to add a note:

[code]

We w

[2021-09-07 19:38] gitet commented on #104
Thanks! I will try it out. We're not using the servicenow collection in any of our prod playbooks yet - I only need this for PoC/demonstration purposes in the next sprint demo, so for now, this is all I need - not even sure if anyone would want idempotency for something like work notes...?

[2021-09-08 22:31] tadeboro opened #107 "Add module for downloading attachments"
##### SUMMARY

Add a module that users can use to download attachments.

##### ISSUE TYPE

- Feature Idea

##### ADDITIONAL INFORMATION

Use case for this functionality is using ServiceNow as a central "repository" of deployment artifacts (things like network configuration files, etc.).

[2021-09-13 15:49] hugotomasi opened #108 "Servicenow inventory relations"
##### SUMMARY
Hello,

I was wondering if there was any future plan in this development to enable the use of relations. What would be great would be to be able to get a field that was only specified in a relation.

I may be wrong but I believe there was a "try" in the other repository about enhanced groups.

Thanks in advance for your kind replies :)

##### ISSUE TYPE
- Feature Idea

##### COMPONEN

[2021-09-14 13:01] tadeboro commented on #108
Enhanced grouping depends on a [custom scripted API endpoint](https://github.com/ServiceNowITOM/servicenow-ansible/tree/devel/update_sets). In other words, enhanced grouping is only available if the ServiceNow instance has a proper update set applied.

Apart from that, there are no technical limitations about this issue, just time constraints ;)

[2021-09-15 08:25] evalero opened #109 "Create module to modify and get info from RITM"
##### SUMMARY

Modules to interact with sc_req_item objects (Requested Item) and retrieve information of open Requested Items

##### ISSUE TYPE

- Feature Idea

##### COMPONENT NAME

**servicenow.itsm.requested_item** --> module to modify some information about requested items:

- State
- Worknotes and comments
- ...

**servicenow.itsm.requested_item_info** --> module to retrieve information of an

[2021-09-17 16:50] Amacc opened #110 "servicenow.itsm.change_request missing attachments parameter in module definition"
##### SUMMARY

Attempt to attach a file to a change request using the attachments parameter returns an unsupported parameters error.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

`servicenow.itsm.change_request`

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

using ansible aws execution environment container: `quay.io/a

[2021-09-17 16:53] Amacc commented on #109
Any reason there is not a Task Module (or even a generic record module)?? Most of the tables such as problem, incident, Requested Item extend the task table itself, something more generic that would fill more use cases with edge cases broken into their respective modules.

[2021-09-17 18:35] tima commented on #110
@Amacc Attachments are a 1.2 feature. You need to upgrade your collection.

https://www.ansible.com/blog/whats-new-automating-servicenow-with-ansible-automation-platform

[2021-09-17 22:22] Amacc commented on #110
Oh man, I cannot believe I did not catch that sooner. Yup as soon as I updated the message went away and the attachment was accepted, thanks @tima!

[2021-09-17 22:22] #110 closed

[2021-09-24 09:43] tadeboro opened #111 "Add modules for managing problem and change request tasks"
##### SUMMARY

Modules provided would allow users to automate workflows that include the usage of tasks.

##### ISSUE TYPE
- Feature Idea

[2021-09-24 12:44] gforster commented on #101
This would be amazing. Right now, for us, the Service Catalog has been the interface our enterprise has determined to use for self-service requests. There are tons of these requests that could be automated, but are currently difficult to work with because it is a different API than the other tables.

[2021-09-29 13:34] Razican commented on #108
Is this feature available if we install the Update Set? Is there documentation on it?

[2021-09-29 15:29] tadeboro commented on #108
If you apply the update set, inventory relations become available through the API, but the current version of the plugin does not know how to handle that data. The inventory plugin from the servicenow.servicenow collection can use this data, but I must admit that I never used it and cannot tell you how the results look like.

[2021-09-30 14:58] nasgust opened #112 "Add a 'fields' paramenter into configuration_item_info"
##### SUMMARY

Add parameter `fields` into `configuration_item_info` to set `sysparm_fields`.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

servicenow.itsm.configuration_item_info

##### ADDITIONAL INFORMATION

`configuration_item_info` returns all recrod fields which may take long time and retrieves a lot of unneeded data. Adding a `fields` parameter avoids unneeded data processing, net

[2021-09-30 15:51] tadeboro commented on #112
Closing as duplicate of https://github.com/ansible-collections/servicenow.itsm/issues/100

[2021-09-30 15:51] #112 closed

[2021-10-01 09:19] nasgust opened #113 "configuration_item_batch: return created and updated records"
##### SUMMARY

Return created and updated records on configuration_item_batch.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

configuration_item_batch

##### ADDITIONAL INFORMATION

Actually `configuration_item_batch` does not returns much useful information and consequently it is difficult to identify created or updated records to manipulate later. It is specially useful to have sys_ids

[2021-10-01 09:24] nasgust opened #114 "configuration_item_batch: add delete example"
##### SUMMARY

According to synopsis, `configuration_item_batch`  can be used to delete records but usage is no obvious. Please, add an example of records deletion.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

configuration_item_batch

##### ADDITIONAL INFORMATION

[2021-10-05 10:05] Razican commented on #108
Thank you for that clarification @tadeboro :) What would be needed to implement this handling? Maybe I would be able to contribute the new feature with some guidance.

[2021-10-08 12:42] Akasurde commented on #101
From issue https://github.com/ansible-collections/servicenow.itsm/issues/109 -

Any reason there is not a Task Module (or even a generic record module)?? Most of the tables such as problem, incident, Requested Item extend the task table itself, something more generic that would fill more use cases with edge cases broken into their respective modules.

[2021-10-08 12:44] Akasurde commented on #109
Duplicate of #101

[2021-10-08 12:47] Akasurde commented on #62
We recommend using `_info` modules to gather information. I will go ahead close this request. Feel free to open a new issue if required. Thanks.

[2021-10-08 12:47] #62 closed

[2021-10-12 22:30] metabsd opened #117 "Help needed :)"
Hello,
I'm trying to use this module to gather several configuration items from the cmdb_ci table.

[code]

I would like to be able to gather several classes and then group by location.

I would like to know if I can see the original payload to be able to use the right filter criteria.

Is there any way to get the json generated by the module?

At the end I would like to be able to use this kind o

[2021-10-13 20:25] #117 closed, assigned to nobody

[2021-10-13 21:39] metabsd opened #119 "group_by number strip the first number and query problem"
##### SUMMARY
When using the group_by with a Servicenow field that contains a number. The first digit is replaced by _

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`servicenow.itsm.now`

##### ANSIBLE VERSION
[code]

##### COLLECTION VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Ubuntu 20.04 running the inventory script on ServiceNOW Quebec version

##### STEPS TO RE

[2021-10-30 14:57] edgarandresfm opened #123 "Failed to update ci"
- name: Update the OS Update Date

Python 3.8.6
Role:
  servicenow.itsm.configuration_item:
    username: ###
    password: ###
    client_id: ###
    client_secret: ###
    instance: ###
    sys_id: 5b412516db6b2b401b53639014961941
    install_status: in_maintenance
    operational_status: repair_in_progress
    other:
      os_updated: 27-10-2021

The full traceback is:
Traceback (most recent ca

[2021-10-30 17:12] tadeboro commented on #123
There are two issues present here. You passed the bad parameters to the `configuration_item` module. The task you have should look somewhat like this:

[code]

Once you update your playbook, can you please report back if this fixed your issue? Thank you.

But it seems that your error in the playbook uncovered a bug in the ansible-core. Although you did make a mistake in the playbook, Ansible shoul

[2021-10-30 20:23] edgarandresfm commented on #123
Thank you very much! it was my fault there

[2021-10-30 20:23] #123 closed

[2021-11-02 07:44] tadeboro commented on #123
Just for reference: https://github.com/ansible/ansible/issues/75612 is the core bug that caused this issue.

[2021-11-16 14:45] dkozics91 opened #125 "servicenow.itsm.configuration_item - not able to add cost_center to a CI"
Please raise issues via the [new interface](https://github.com/ansible/ansible/issues/new/choose)
I would like to create a CI in Servicenow and assign an Asset and a Cost center to it.
The CI has been created successfully, but I can not see neither the Asset nor the Cost center.

The code what I'm using:
[code]

The model_number and the ip_address are visible in the CMDB after the playbook executi

[2021-11-16 17:14] tadeboro commented on #125
Both `asset` and `cost_center` are reference fields, which means that they should contain a system id of the referenced record and not the name. I would expect something similar to the following listing:

[code]

[2021-12-01 16:24] metabsd commented on #119
@tadeboro Can you please help me with this problem.

[2021-12-14 02:10] jhg03a commented on #68
It's related to https://github.com/ansible/ansible/issues/50300

[2021-12-16 17:34] thefirstduck opened #129 "Inventory Plug-in Network Device Tables"
Please raise issues via the [new interface](https://github.com/ansible/ansible/issues/new/choose)

The inventory plug-in is not able to generate inventories of network devices.  The below inventory will fail.  Replacing table with any server table (e.g. cmdb_ci_win_server) succeeds.  Would also be nice if you could query MSSQL instance tables in CMDB.

---
plugin: servicenow.itsm.now
table: cmdb_c

[2021-12-16 18:12] tadeboro commented on #129
What error do you see when you try to fetch the inventory? Please paste the output of `ansible-inventory -vvv -i inv.now.yaml --graph`.

[2021-12-17 12:56] Altagot opened #130 "Modify name of one group when using dynamic inventory / Keyed_group"
SUMMARY
Be able to modify / replace part of group name when using keyed_group

In my present case, when importing group from SNOW to Ansible Tower, lots of my groups are coming with space. I would like to replace the space by another caracters as you know that space ones are a mess in Ansible Tower.

Also it could be a idea to be able thanks to regexp to delete or replace part of the data received

[2021-12-17 14:06] tadeboro commented on #130
You should be able to get rid of spaces and other nasty characters by setting the [TRANSFORM_INVALID_GROUP_CHARS](https://docs.ansible.com/ansible/latest/reference_appendices/config.html#transform-invalid-group-chars) config option to either `always`  or `silent` .

[2021-12-19 22:54] ChristopherJHart commented on #93
Is there a workaround for this issue? This issue is a showstopper for a project of mine, as this project uses Ansible to dynamically open and work problems/incidents/change requests in ServiceNow, so I'm interested in seeing this worked around or fixed.

Let me know if I can do anything to help!

[2021-12-20 21:22] thefirstduck commented on #129
User error - columns default.  Closing.  Thank you!

[2021-12-20 21:22] #129 closed

[2021-12-21 12:05] Akasurde commented on #125
@dkozics91 Could you please confirm if @tadeboro's solution works? Let us know.

[2022-01-20 16:33] tima commented on #93
@ChristopherJHart [According to ServiceNow this is expected behavior ](https://support.servicenow.com/kb?id=kb_article_view&sysparm_article=KB0996467) unfortunately. We have been actively looking for a workaround to this and haven't given up.

[2022-01-21 05:55] Akasurde commented on #67
Marking this as resolved as there is no response from the reporter. Please feel free to open a new issue if the problem persists. Thanks.

[2022-01-21 05:55] #67 closed

[2022-01-21 05:59] Akasurde commented on #76
@Klaas- Could you please check if this issue still persists and let us know? Thanks.

needs_info

[2022-01-21 06:01] Akasurde commented on #85
@jangel97 Could you please check if PR #136 works for you and let us know? Thanks in advance.

needs_info

[2022-01-21 06:01] Akasurde commented on #85
resolved_by_pr #136

[2022-01-24 09:39] #85 closed

[2022-01-24 09:52] Razican opened #137 "`leading_separator` setting in dynamic inventory grouping"
##### SUMMARY
In the documentation of the dynamic inventory plugin, a `leading_separator` setting is mentioned: https://github.com/ansible-collections/servicenow.itsm/blob/main/docs/servicenow.itsm.servicenow.itsm.now_inventory.rst

This documentation mentions that this setting is a boolean (even though its default value is `"yes"`, a string). It mentions that if set to `False`, it will remove the

[2022-01-25 13:04] Akasurde commented on #137
@Razican Thanks for reporting this issue. Could you please provide the example YAML used?

[2022-01-25 13:19] Akasurde commented on #137
@Razican Also, what is the version Ansible used? This feature is added in Ansible 2.11.

[2022-01-25 13:36] Akasurde commented on #130
@Altagot Could you please confirm if @tadeboro's solution works for you or not? Thanks in advance.

[2022-01-26 08:42] Andersson007 opened #139 "Important information for collection maintainers"
##### SUMMARY
Dear maintainers,

This is important for your collections!

- In accordance with the [Community decision](https://github.com/ansible-community/community-topics/issues/51), we have created the [news-for-maintainers](https://github.com/ansible-collections/news-for-maintainers) repository for announcements of changes impacting collection maintainers (see the [examples](https://github.co

[2022-01-27 11:10] Razican commented on #137
Hello @Akasurde an example yaml would be this one:
[code]

Indeed, we are using Ansible 2.9.21 (repo version from RHEL7), so this can be one of the reasons why it's not working for us. But the documentation could definitely be more clear first on the minimum supported Ansible version, and then on that "yes" / "no" or true/false duality (boolean but by default "yes", and then "False" to negate it?)

[2022-01-27 12:07] Akasurde commented on #137
@Razican `leading_separator` is implemented in `ansible.builtin.constructed` and inherited by `now` inventory. The required version of Ansible is mentioned in the docs [here](https://docs.ansible.com/ansible/latest/collections/ansible/builtin/constructed_inventory.html#parameter-leading_separator) and [here](https://github.com/ansible-collections/servicenow.itsm/blob/main/docs/servicenow.itsm.serv

[2022-01-27 12:49] Razican commented on #137
Thanks for those links :) I didn't know about the first one, but I have gone through the second one and I couldn't find any mention of any ansible version :/

[2022-01-28 04:52] Akasurde commented on #137
@Razican I found a bug in the docs where it fails to mention the name of the collection in which the feature was added. This caused confusion while you were reading the documentation. I fixed it using #140 and now the docs explain to users about the version and collection in which the feature/bugfix is added.

[2022-01-28 04:53] Akasurde commented on #137
resolved_by_pr #140

[2022-01-31 04:29] Akasurde commented on #139
@Andersson007 Thanks for the information.

[2022-01-31 06:14] Akasurde commented on #137
Closing this as PR #140 is merged. Please free to open a new issue if the problem persists. Thanks.

[2022-01-31 06:14] #137 closed

[2022-01-31 06:15] Akasurde commented on #119
@tadeboro ^^

[2022-01-31 09:07] Razican commented on #137
Thanks @Akasurde !

[2022-02-16 05:02] #125 closed

[2022-02-16 05:04] dkozics91 commented on #125
the issue can be closed, using system id of the referenced record solved my issue.
Thank you

[2022-03-08 09:42] dommnk opened #148 "Can't execute code from documentation"
##### SUMMARY
Can't execute code from documentation (https://docs.ansible.com/ansible/latest/collections/servicenow/servicenow/snow_record_module.html)

After executing line: ansible-playbook sntask4.yml
I get an error: ERROR! 'snow_record' is not a valid attribute for a Play
This error occurs for every SNow attribute, even though I have installed ServiceNow itsm collection and required modules py

[2022-03-08 09:46] Akasurde commented on #148
@dommnk Thanks for reporting this issue. You are using `servicenow.servicenow` and this repo holds `servicenow.itsm` collection. Please use https://galaxy.ansible.com/servicenow/servicenow for servicenow.servicenow.

Thanks,

[2022-03-08 09:46] #148 closed

[2022-03-08 13:31] dommnk commented on #148
This worked for me, thanks

[2022-03-08 14:32] Akasurde commented on #148
@dommnk Thanks for the update.

[2022-03-21 08:53] Andersson007 opened #151 "Ansible Contributor Summit. Tuesday, April 12, 2022."
##### Ansible Contributor Summit

We are happy to announce that the registration for the [Ansible Contributor Summit](https://hackmd.io/@ansible-community/contrib-summit-202204/%2FlV3o41__RLiX8P2rm-gGKA) is open!

##### Why

- This is a great opportunity for interested people to meet, discuss related topics, share their stories and opinions, get the latest important updates and just to hang out to

[2022-03-23 19:30] cloin opened #155 "Use *_info modules to query sys_tags"
##### SUMMARY

ServiceNow api doesn't return `sys_tags` even if, for example, the incident your pulling has a tag applied.

Instead, you have to manually perform the search using tags as a filter within ServiceNow portal and then copy the query from the breadcrumbs which seems to be a random string representing the query.

[code]

It doesn't seem possible to query sys_tags from *_info modules like

[2022-03-24 00:04] cloin opened #156 "State mapping in problem module"
##### SUMMARY

Attempting to perform state changes on active problems using the `problem` module using `problem_mapping` which matches SN choice list for problem state doesn't seem to have the desired affect. Unable to make changes to problem.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

`servicenow.itsm.problem`

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### STEP

[2022-03-24 06:56] juremedvesek commented on #156
Hi. Thanks for extensive report. If I see corectlly problem is on line:
https://github.com/ansible-collections/servicenow.itsm/blob/4dfe208386d1e333f05e0645b9edcd681f57167b/plugins/modules/problem.py#L483

Can you on local copy change type of state to str instead of choices and test again. Will perform same tests on my environment. Same problematic is on other customizable fields, but not hard to

[2022-03-24 09:44] Akasurde commented on #155
@cloin Thanks for reporting this issue. I can reproduce this behavior at my end. My initial assumption is that `sys_tags` are returned empty even if the tags are attached to the incident.

[code]

[2022-03-24 14:15] cloin opened #159 "user mapping docs missing"
##### SUMMARY

Unable to find `user_mapping.md` in collection docs
##### ISSUE TYPE
- Bug Report

##### COLLECTION VERSION

[code]

##### EXPECTED RESULTS

`user_mapping.md` doc was useful to understand the *_mapping parameter now included in modules

[2022-03-25 13:57] cloin commented on #155
I guess when querying `sys_tags` you can only use `sys_id` of the tag maybe? It's some encoded string that refers to that tag. It just doesn't get returned by the API. So if you're trying to query by `sys_tag` you have to find the encoded string that refers to that tag by using the UI. Still, once you have the encoded string, there's no way to query using the `*_info` modules.

[2022-03-30 14:13] #156 closed

[2022-04-07 14:37] tima commented on #111
@Akasurde based on your comment [here](https://github.com/ansible-collections/servicenow.itsm/pull/132#issuecomment-1035921738), can this issue be closed now?

[2022-04-07 19:02] tima opened #163 "EPIC: ServiceNow Store application to provide a stable API and services for Ansible ServiceNow content"
##### SUMMARY

This is an epic for development that is likely to happen away from this repo.

The primary goal is to develop a scripted ServiceNow store application to establish a stable API service for this collection and maintain compatibility going forward.  This is being done in response to an issue like #93 where the ServiceNow REST API, beginning with Rome, broke its compatibility with some

[2022-04-07 19:48] tima opened #164 "Provide a ServiceNow REST API "client" module"
##### SUMMARY

The intention of this module is to provide an improved "stopgap" solution for ServiceNow users where a specific module does not exist for a ServiceNow resource including those working with highly customized environments.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

servicenow.itsm.api

##### ADDITIONAL INFORMATION

This module is like [the Ansible core URI module](https:/

[2022-04-07 20:46] tima commented on #71
I think this is something we should consider though, as @tadeboro notes, it could get complicated depending on how the CMDB has been organized and managed. Could we provide a simple means of defining what the module should use as a unique identifier in its idempotency logic?

[2022-04-07 20:59] tima commented on #68
@Akasurde: is this still an issue? Can you verify or close it?

[2022-04-11 21:17] Amacc opened #165 "Unable to perform query using IN operator"
##### SUMMARY

Unable to find usage of the IN operator in docs and am not sure how to form a query using this operator.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

servicenow.itsm.change_request_task_info

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Running from linux docker container arch x64.

##### STEPS TO REPR

[2022-04-12 05:04] Akasurde commented on #165
@Amacc Thanks for reporting this issue.

[2022-04-12 05:19] Akasurde commented on #111
resolved_by_pr https://github.com/ansible-collections/servicenow.itsm/pull/144

[2022-04-12 05:19] #111 closed

[2022-04-12 18:28] #151 closed

[2022-04-16 11:06] kumaresan078 opened #166 "Help in filtering ip address - inventory"
Could someone help with IP address filtering on ServiceNow dynamic inventory? I am trying to exclude certain hosts based on the IP range but unable to achieve it.

As per the below filter anything that starts with '192.29.32' needs to be excluded.

[code]

[2022-04-22 14:55] w4hf opened #167 "Support of Proxied ServiceNow instance"
##### SUMMARY
The current collection components do not support working with a ServiceNow instance located behind a proxy
They also ignore the environment variable http_proxy or https_proxy

##### ISSUE TYPE
Add proxy arguments to the collection modules to support managing a ServiceNow instance located behind a http/https proxy
or add support to the environment variable http(s)_proxy

##### COMPONE

[2022-04-22 16:09] #167 closed

[2022-04-22 16:12] w4hf commented on #167
turns out that it works with environment variables
the thing is that even if your proxy is using http you **MUST** set up **https_proxy** environment variable

[2022-04-25 15:25] bmccafferty opened #168 "now.py inventory plugin does not work with refresh tokens"
##### SUMMARY
now.py inventory plugin does not work with refresh tokens

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
now.py inventory plugin

##### ANSIBLE VERSION
[code]

##### COLLECTION VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
RHEL 8
Ansible Tower 3.8.5
Ansible 2.9.27
ServiceNow Quebec

##### STEPS TO REPRODUCE
Ensure using refresh token and call inventory, eit

[2022-04-25 15:26] bmccafferty commented on #168
Line 612-620 are incorrect and do not work with the new refresh token function:
https://github.com/ansible-collections/servicenow.itsm/blob/e081b51bb95ea8e55ab60caf18affeec8b6e0cf7/plugins/inventory/now.py#L612-L620

Manually updating the lines as per below will result it the inventory working correctly with a refresh token:

[code]

[2022-04-25 15:46] tima commented on #168
Thanks @bmccafferty. Pull requests accepted.

[2022-04-25 15:48] bmccafferty commented on #168
Thanks, @tima I have never contributed to ansible (or anything) before I will read the guidelines tonight and get a PR in.

[2022-04-25 17:27] bmccafferty commented on #168
First PR Created.

Feedback would be welcome as this is my first contribution .

[2022-04-26 10:00] Akasurde commented on #168
Thanks @bmccafferty for the contribution.

resolved_by_pr #169

[2022-04-28 07:54] bmccafferty commented on #166
Hello.

I think this is what you are looking for in your config if you are using the now.py inventory plugin.

[code]

Thanks,

Brian.

[2022-04-28 07:59] #168 closed

[2022-04-28 08:19] Akasurde commented on #166
@kumaresan078 Could you please check @bmccafferty's suggestion and let us know if it works? Thanks in advance.

[2022-04-28 08:46] bmccafferty commented on #166
If it helps I did some testing locally before suggesting.

Listing in dev instance of SNOW all hosts named lnux (One with IP of 192.29.32.1 and one with 192.29.31.1)

If I do `  - name: STARTSWITH lnux` I return:

[code]

If I do the suggested `ip_address: NOT LIKE 192.29.32` I only get back the one with the not matching IP so think it works as expected :)

[code]

[2022-04-29 19:38] bmccafferty commented on #74
I have added a PR today which adds 2 new examples for AND and OR querys in case it is of any help here.

#172

[2022-04-30 04:22] Akasurde commented on #166
@bmccafferty Thanks for the help.

[2022-04-30 04:22] #166 closed

[2022-05-18 09:25] juremedvesek commented on #113
Return format will be same as inside configuration_item_info. Only problem is that we can not get attachments without additional API calls (one per item). It must be decided if it is better to skip them, or execute additional API calls.

[2022-06-23 03:53] epicanthal opened #176 "Inventory plugin not honoring cache"
##### SUMMARY

The inventory plugin seems not to be honoring cache settings
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

servicenow.itsm.now
##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Docker
```FROM python:3.9.2-slim-buster```

##### STEPS TO REPRODUCE

run ```ansible-inventory -i now.yml --list``` with the followin

[2022-07-04 15:50] toni-moreno opened #178 "Add a simple way to create relationships between two cmdb ci's"
##### SUMMARY
Add any way to create relationships between two cmdb ci's

Right now there is a [defined way from de UI](https://docs.servicenow.com/bundle/paris-servicenow-platform/page/product/configuration-management/task/t_CreateCIRelationship.html)

But any way to do it by the  [configuration_item_module](https://github.com/ansible-collections/servicenow.itsm/blob/main/docs/servicenow.itsm.conf

[2022-07-07 14:35] abedk commented on #167
This worked

  environment:
    SN_HOST: "https://xxxx.service-now.com/"
    SN_USERNAME: "xxx"
    SN_PASSWORD: "xxx"
    https_proxy: "http://proxy.com:3128"

[2022-07-07 14:46] sbendana-sgt commented on #101
When can this idea be implemented?

[2022-07-16 06:12] tjazsch commented on #164
Don't have write access to project board, so I can't edit it. This issue has to be moved to "Review in progress" in project board: https://github.com/ansible-collections/servicenow.itsm/projects/1#column-18405803.

[2022-07-18 08:13] tjazsch opened #181 "Remove setting value `exclude_reference_link` to true by default"
##### SUMMARY
While developing ServiceNow REST API "client" module, which essentially codify [the ServiceNow REST API Explorer](https://docs.servicenow.com/bundle/sandiego-application-development/page/integrate/inbound-rest/concept/use-REST-API-Explorer.html#t_ExploreATable) in an Ansible-native way, I tried to add attribute `exclude_reference_link`, which, when set to true, excludes Table API lin

[2022-07-18 08:15] tjazsch commented on #181
This issue has to be resolved prior to merging https://github.com/ansible-collections/servicenow.itsm/pull/179.

[2022-07-19 08:52] tjazsch commented on #114
@nasgust, thanks for reporting the issue. Indeed, the delete operation isn't supported for module `configuration_item_batch` at the moment. Will create a user story for it, which will be addressed in the near future in one way or another.

As an alternative in the meantime, module `configuration_item` can be used multiple times to achieve the same effect as deleting records in batch just once.

[2022-07-19 09:00] tjazsch opened #183 "Add delete operation for module `configuration_item_batch`"
##### SUMMARY
At the moment, module `configuration_item_batch` only supports `post` and `patch` operations. The idea is to extend the module to delete ServiceNow configuration items in batch mode as well

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
https://github.com/ansible-collections/servicenow.itsm/blob/main/plugins/modules/configuration_item_batch.py would need to be refactored and

[2022-07-19 16:04] homandr opened #187 "`change_request` module does not update the state"
##### SUMMARY

Change ticket state is not being updated by `change_request`. There are no errors reported by Ansible. ServiceNow audit trail shows no attempts to make a change.
Using the exact code as in the documentation.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### STEPS TO REPRODUCE

Playbook to create a change tick

[2022-07-20 22:45] tima commented on #183
We need to be really cautious about implementing a batch delete. Used the wrong way it could wipe out an entire CMDB's inventory. For now I am setting this one aside to see how much feedback we receive on its absence.

[2022-07-21 02:49] tjazsch commented on #183
Ok, agreed. 👍

[2022-07-21 03:20] tjazsch commented on #155
@cloin, thank you for reporting the issue. After reproducing this bug from the steps from the [link you sent above](https://community.servicenow.com/community?id=community_question&sys_id=65770f69db1cdbc01dcaf3231f961997) (assigning a tag to a query, searching the incidents with that tag, copying that query and pasting it into REST API Explorer's sysparm_query), I found out that even in api explor

[2022-07-21 16:33] tjazsch commented on #155
May be moved to "Review in progress" in https://github.com/ansible-collections/servicenow.itsm/projects/1.

[2022-07-22 10:32] mkrawczyszyn commented on #178
SUMMARY

Is there possibility to add group variables?

[2022-07-22 10:55] mkrawczyszyn opened #189 "Assigning group variables in inventory module"
##### SUMMARY

It would be very handy to have possibility to add not only host variables but also group variables. Is this feature planned?

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

Now inventory module.

##### ADDITIONAL INFORMATION

N/A

[code]

[2022-07-22 13:20] tjazsch commented on #102
May be moved to "Review in progress" in the project board.

[2022-07-24 19:03] epicanthal commented on #189
I think because this inventory plugin is based upon [ansible.builtin.constructed](https://docs.ansible.com/ansible/latest/collections/ansible/builtin/constructed_inventory.html) which doesn't provide your feature...maybe it wouldn't be added?  Maybe you can request your feature idea in the core Ansible project?  Then all other projects' inventory plugins based on ```constructed``` would be able to

[2022-07-27 11:33] #107 closed

[2022-07-27 11:50] #181 closed

[2022-08-01 09:52] #155 closed

[2022-08-05 16:11] toni-moreno opened #196 "Error on `make sanity`: ImportError: cannot import name '_unicodefun' from 'click'"
##### SUMMARY
When trying to build my developer environment as described in `docs/hackind.md` , an error happended.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

testing

##### COLLECTION VERSION
Current HEAD  (76538da3ad5ef55a8e6cc4512e1c28d44a931376)

##### CONFIGURATION

##### OS / ENVIRONMENT

[code]
##### STEPS TO REPRODUCE

as described in `docs/hacking.md`

##### EXPECTED RESULTS

s

[2022-08-06 14:55] #196 closed

[2022-08-10 02:57] tima commented on #74
This should have been closed when #172 was merged.

[2022-08-10 02:57] #74 closed

[2022-08-10 02:59] tima commented on #159
@juremedvesek can you please restore `user_mapping.md` to the repo?

[2022-08-10 09:35] #113 closed

[2022-08-10 17:46] #102 closed

[2022-08-11 13:06] #71 closed

[2022-08-17 14:27] Akasurde commented on #159
PR https://github.com/ansible-collections/servicenow.itsm/pull/203 merged. Closing this request. Thanks.

[2022-08-17 14:27] #159 closed

[2022-08-19 19:26] nabheet opened #206 "Is there a way to add custom static host variables in a ServiceNow inventory definition?"
##### SUMMARY

Is there a way to add custom static host variables in a ServiceNow inventory definition?

[code]

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

[2022-08-29 16:12] mdinwoodie opened #211 "[RFE] Add mTLS support for ITSM collection"
##### SUMMARY
Currently, the ITSM collection doesn't support mTLS. This RFE is for adding support for this feature.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
client.py plugin/all modules in collection

##### ADDITIONAL INFORMATION
A possible solution/workaround is described in this article:
https://www.techcoil.com/blog/how-to-send-a-http-request-with-client-certificate-private-key-pa

[2022-09-13 15:30] rhjhunt opened #214 "Unable to sync inventory with servicenow.itsm.now using "=" in query"
##### SUMMARY

While trying to use the `servicenow.itsm.now` collection plugin for an inventory sync, when using the "=" in the query no matching hosts are returned.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

servicenow.itsm.now

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### OS / ENVIRONMENT

Using the Red Hat provided execution environment `registry.redhat.io/a

[2022-09-14 13:23] #163 closed

[2022-09-21 18:56] tima commented on #206
It's not clear what you are trying to do here. Are you trying to store Ansible facts in the ServiceNow CMDB?

[2022-09-21 18:57] tima commented on #164
Should have been closed by PR #201 getting merged.

[2022-09-21 18:59] tima commented on #93
This should have been closed by #212 getting merged.

[2022-09-21 18:59] #93 closed

[2022-09-21 19:02] tima commented on #27
This should have been closed by #212 getting merged.

[2022-09-21 19:02] #27 closed

[2022-09-21 19:05] tima commented on #187
@homandr  This sounds like the problems fixed in #93 and #27. Please try the latest version we just released (2.0.0) along with the associated ServiceNow store application and let us know if the issue persists.

[2022-09-24 19:01] nabheet commented on #206
No the other way around. When I get my list of servers out of cmdb using this plugin, I was wondering if I could create host variables the same way keyed groups are created in ansible inventory.

[2022-09-26 16:04] tima commented on #206
@nabheet I am still not sure I am following what you are trying to achieve. Constructed groups is a logical mechanism that creates inventory groups on the fly based on existing data (host variables) coming from the CMDB. If you wanted to attach additional variables to those hosts you could use `set_fact` (dynamic/in-memory storage) or the provided CMDB module for writing it back to the CMDB (stati

[2022-09-26 16:22] nabheet commented on #206
Ok thank you!!!

[2022-09-26 16:22] #206 closed

[2022-09-28 18:27] rhjhunt commented on #214
We've tested this with the recently released 2.0.0 collection, same results no matching systems are returned.

We also tried the new parameter. `sysparm_query`.

[code]

The results were **every** system was returned, nothing was filtered.

Just a note that `sysparm_query` line is the same line in the python script being used currently which does return the expected systems.

[2022-10-03 10:25] juremedvesek commented on #214
Thanks for nice report.

Fixed query:
[code]

Important  part being `support_group.name` instead of `support_group`. This goes for all nested objects inside ServiceNow. Same behavior was reproduced inside ServiceNow Table API.

Also investigation have shown that "sys_param" parameter as input parameter have bug and will be fixed (inside 2.0.1 it skipped by mistake).

[2022-10-04 00:12] cloin opened #220 "Cannot update problem state with mapping"
##### SUMMARY

Unable to create state mapping for problem
[code]

Results:
[code]
If instead of using `known_error` I say 2, it does work. Though I get a warning:
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RE

[2022-10-04 00:13] cloin commented on #220
Using API app

[2022-10-04 03:02] cloin opened #221 "Request: Query parameters for API module"
##### SUMMARY

Currently, I use a URI task against the table api to create a new user. I'm able to create a password only when passing `sysparm_input_display_value=true` as a query parameter which allows me to set a password based on the display value which will then be encrypted. Without `sysparm_input_display_value=true`, the password is not encrypted and the user unable to login.

See descripti

[2022-10-04 22:35] rhjhunt commented on #214
@juremedvesek we tried your suggestion. Thanks for that. We did an inventory sync on the AAP2 controller, which generated an error, unfortunately, with no information as to the cause of the error. The inventory sync output contained the following.

[code]

This seems to have worked, but no hosts are listed in the inventory.

The output of the inventory contains.

[code]

It seems to be adding the

[2022-10-05 09:12] juremedvesek commented on #214
@rhjhunt I would gladly ask you for whole inventory file (not just query). From there it should be possible to reproduce your case, and most probably create a fix inside a collection for it. ServiceNow data I should be able to simulate.

[2022-10-05 15:46] mathieugravil opened #223 "Correction in inventory"
##### SUMMARY
When sysparm_query is used the fetch_records fonction does not use it. And instead of bring all

##### ISSUE TYPE
Bug

##### COMPONENT NAME
Inventory

##### ANSIBLE VERSION

[code]

Proposition of coreections:
[code]

[2022-10-05 15:56] mathieugravil commented on #223
My inventory file
[code]

[2022-10-05 16:17] mathieugravil commented on #223
And the other issue correctes with the proposed correction is about optimisation. Without the correction we collect all field for ci whereas we can Ask to api to bring only the columns fields we need...

[2022-10-05 16:31] mathieugravil commented on #223
Yes for sysparm_query but not for optimization.

[2022-10-05 16:32] mathieugravil commented on #223
https://github.com/ansible-collections/servicenow.itsm/pull/224

[2022-10-05 16:59] juremedvesek commented on #223
Hi! Thanks for preposition. I can also include this in my PR  (fields=columns). If you want to fix it yourself, please also run "make sanity", to confirm that code is properly formatted (or just execute 'make format' and it will be done for you). Also you need to add integration tests where it must be checked, that it works with columns field, and columns attribute skipped. They are executed by 'm

[2022-10-05 18:00] mathieugravil commented on #223
Include my correction in you pr, it will be quicker 😉.  I don't really know how to do make sanity and make intégration...  Thanks.

[2022-10-06 06:41] mathieugravil commented on #223
Finnally, i tried to do make format....

[2022-10-06 13:37] rhjhunt commented on #214
@juremedvesek here is the inventory file.

[code]

[2022-10-10 18:36] mathieugravil commented on #223
These changes are already merged via https://github.com/ansible-collections/servicenow.itsm/pull/219.

[2022-10-10 18:36] #223 closed

[2022-10-11 13:37] juremedvesek commented on #220
Thanks for report. Can reproduce bug, fixing it now.

[2022-10-12 17:48] ShauJohn commented on #211
We are needing of using mTLS for integration with ServiceNow. We are using the ITSM collection for this effort, but the current version doesn't support mTLS.

@mdinwoodie Are there any updates on this?

[2022-10-18 15:43] ShauJohn commented on #211
https://www.digitalocean.com/community/tutorials/python-http-client-request-get-post

[2022-11-04 07:26] markatdxb opened #228 "servicenow.itsm.configuration_item_info - missing sample"
##### SUMMARY

Could you provide sample of using the configuration_item_mapping parameters in servicenow.itsm.configuration_item_info
Example: Im trying to list only Installed Operational CIs

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

servicenow.itsm.configuration_item_info

##### ANSIBLE VERSION

[code]

[2022-11-07 17:49] shrutebattlestargalactica commented on #214
@rhjhunt Im just curious - did you try that same operator again but without the quotes? we use a similar filter but I am not using quotes and we receive the correct results:

query:
  - operational_status: = 1

[2022-11-29 11:23] brsanche opened #229 "Urgency and Impact fields not working properly"
##### SUMMARY

While running a simple playbook using the `servicenow.itsm.incident` module, urgency and impact fields are not being respected.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`servicenow.itsm.incident`

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

Tried with both collections below:
[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Incident should be